<ul class="breadcrumbs">
    <li><a ng-click="setRoute('/')">Home</a></li>
    <li><a ng-click="setRoute('/alerts')">Alerts</a></li>
    <li><span class="current">Edit Alert</span></li>
</ul>
<div class="row">
  
  <div class="twelve columns">
    <h4>Alert <span class="label success round" ng-show="Alert.Options.active">Active</span></h4>
    <br>
    <form name="configureAlert" class="panel">
      <div class="alert-box alert" ng-show="ErrorMessage">
        {{ ErrorMessage }}
      </div>
      <div class="alert-box alert" ng-show="!configureAlert.$valid">
        Please fill in all fields
      </div>
      <select name="" id="" ng-model="Alert.Options.type" ui-keydown="{'enter': 'Save()'}" required>
        <option value="">Choose Alert Type</option>
        <option value="sms">SMS</option>
        <option value="call">Phone Call</option>
        <option value="email">Email</option>
      </select>
      <br><br>
      <input type="text" ng-model="Alert.Options.alertee" ui-keydown="{'enter': 'Save()'}" placeholder="{{ Alert.Options.type | propercase }} recipient" required>
    </form>
    <br>
    <ul class="button-group radius even two-up">
      <li><a class="button radius" ng-click="setRoute('/alerts')">Back</a></li>
      <li><a class="button success radius" ng-click="Save()">Save</a></li>
    </ul>
  </div>
</div>