<ul class="breadcrumbs">
    <li><a nb-click="setRoute('/')">Home</a></li>
    <li><span class="current">Edit Zone <em>{{ Zone.Options.name }}</em></span></li>
</ul>
<div class="row">
  
  <div class="twelve columns">
    <h4>Zone</h4>
    <br>
    <div class="panel">
      <input type="text" placeholder="Name this zone" ng-model="Zone.Options.name" required>

      <div class="triggers" ng-show="Zone.id">
        

        <div class="panel trigger" ng-repeat="trigger in Zone.Triggers">
          <div class="name">
            {{ trigger.Options.name }}
            <h6><small>({{ trigger.Options.type }})</small></h6>
          </div>
          <div class="actions">
            <a class="button tiny edit inline" nb-click="EditTrigger(trigger)">Edit</a>
          </div>
          <a class="delete" nb-click="trigger.Delete()">&times;</a>
        </div>

        <a class="button success" nb-click="AddNewTrigger()">Add New Trigger</a>
      </div>

    </div>
    <br>
    <ul class="button-group radius even two-up">
      <li><a class="button large cancel radius" nb-click="setRoute('/')">Cancel</a></li>
      <li><a class="button large success radius" nb-click="Save()">Save</a></li>
    </ul>

    <a class="button alert" nb-click="Delete()" ng-show="Zone.id">Delete this Zone</a>
  </div>
</div>