<div id="main" class="row">
  <div class="twelve zones">

    <div class="utility-actions">
      <dl class="sub-nav panel">
        <dd><a class="button success" ng-click="AddZone()">Add New Zone</a></dd>
        <dd><a class="button mediary" ng-click="SetConfigureMode(true)" ng-show="!ConfigureMode">Configure</a></dd>
        <dd><a class="button secondary" ng-click="SetConfigureMode(false)" ng-show="ConfigureMode">End Configure</a></dd>
      </dl>
    </div>



    <div class="twelve columns zone-listing">

    <div class="panel alert-box help-box note" ng-show="Zones.length && !Alerts.length">
      No alerts are currently set up. You will not receive any notifications
      <br>
      <a ng-click="setRoute('/alerts')">Create an alert</a>
    </div>

      <div class="alert-box note secondary" ng-show="!Zones.length">
        <h6>Getting Started</h6>
        <ol>
          <li>Create a zone.</li>
          <li>Create a trigger for the zone.</li>
          <li>Create an alert</li>
        </ol>
      </div>
      
      <div class="panel zone" ng-repeat="zone in Zones" ng-controller="ZoneCtrl" ng-class="{armed:IsArmed()}">
        <h5>{{ zone.Options.name }}</h5>
        <!-- <small>{{ zone.id }}</small> -->
        <div class="actions">
          <a class="button tiny inline" ng-click="EditZone()" ng-show="ConfigureMode">Edit</a>
          <a class="button tiny alert inline" ng-click="Delete()" ng-show="ConfigureMode">Delete</a>
          <a class="button tiny inline success" ng-click="SetOverride(true)" ng-show="!zone.Options.overrideActive && !ConfigureMode && !IsOverridden()" ng-class="{secondary:IsOverridden()}">Turn On</a>
          <a class="button tiny inline alert" ng-click="SetOverride(false)" ng-show="zone.Options.overrideActive && !ConfigureMode && !IsOverridden()" ng-class="{secondary:IsOverridden()}">Turn Off</a>
        </div>
        <h5><small ng-show="IsOverridden()">(Override <span ng-show="Override">ARMED</span><span ng-show="!Override">DISARMED</span>)</small></h5>
        <div class="triggers">
          <div class="panel trigger" ng-repeat="trigger in zone.Triggers" ng-controller="TriggerCtrl" trigger-listen>
            <h6>{{ trigger.Options.name }}</h6>
            <h6><small>({{ trigger.Options.type }})</small>
                      <small class="lastActuated"></small></h6>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>