<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Ninja Sentinel</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,800,600,700' rel='stylesheet' type='text/css'>

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        
        <link rel="stylesheet" href="styles/sentinel-app.css"/>

        <script src="scripts/vendor/modernizr-2.6.1.min.js"></script>


    </head>
    <body ng-app="yeomanApp">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="scripts/vendor/es5-shim.min.js"></script>
            <script src="scripts/vendor/json3.min.js"></script>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- Navigation -->
        <div class="fixed">
            
            <nav class="top-bar" ng-controller="HeaderCtrl">
                <ul>
                    <li class="name">
                        <h1 ng-click="setRoute('/')"><a href="#">Ninja Sentinel</a></h1>
                    </li>
                    <li class="toggle-edit">
                        <a ng-show="LocationIsHome() && !ConfigureMode" ng-click="SetConfigureMode(true)" class="configure">Configure</a>
                        <a ng-show="LocationIsHome() && ConfigureMode" ng-click="SetConfigureMode(false)" class="configure">Finish</a>
                    </li>
                </ul>
                <section>
                    <ul class="left">
                        <li>
                            <a ng-click="Override(true)">On</a>
                        </li>
                    </ul>
                    <ul class="right">
                        
                    </ul>
                </section>
            </nav>

        </div>

        <div class="container" ng-view></div>

        <div class="fixed bottom">
            <ul class="nav-bar" ng-controller="UtilitybarCtrl">
                <li><a ng-click="SetOverride(true)" ng-show="!Override">Override On</a></li>
                <li><a ng-click="SetOverride(false)" ng-show="Override">Override Off</a></li>
                <!-- <li><a ng-click="SetOverride(null)">Use Schedule</a></li> -->
            </ul>
        </div>

        <script src="components/jquery/jquery.min.js"></script>
        <script src="scripts/vendor/angular.min.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="components/angular-ui/build/angular-ui.min.js"></script>
        <script src="components/angular-complete/angular-resource.js"></script>
        <script src="components/browser-ninja-blocks/lib/ninja.js"></script>

        <script src="scripts/vendor/pusher.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/zone.js"></script>
        <script src="scripts/controllers/editZone.js"></script>
        
        <script src="scripts/factories/Zone.js"></script>
        <script src="scripts/factories/Trigger.js"></script>

        <script src="scripts/services/Config.js"></script>
        <script src="scripts/services/NinjaService.js"></script>
        <script src="scripts/services/DeviceService.js"></script>
        <script src="scripts/services/NinjaUtilities.js"></script>
        <script src="scripts/services/PusherService.js"></script>
        <script src="scripts/services/UIEvents.js"></script>
        <script src="scripts/services/UserService.js"></script>
        <script src="scripts/services/ZoneService.js"></script>
        <script src="scripts/services/EditZoneService.js"></script>
        <script src="scripts/controllers/configureTrigger.js"></script>
        <script src="scripts/services/EditTriggerService.js"></script>

        <script src="scripts/filters/rfHex.js"></script>

        <script src="scripts/controllers/utilitybar.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37208807-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
