.note {
  font-family: 'Bad Script', cursive;
}



.alert-box.help-box {
  background: hsl(54,70%,67%);
  border-top: 1px solid hsl(54,70%,54%);
  border-bottom: 1px solid hsl(54,70%,44%);
  border-left: none;
  border-right: none;
  color: hsl(45, 70%, 30%);
  font-weight: normal;
  font-size: 16px;
  
  a {
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    color: hsl(54,70%,87%);;
    background-color: hsl(45, 70%, 43%);
    border-color: hsl(45, 70%, 33%);
    font-weight: bold;
  }
}

.getting-started {
  border-color: transparent !important;
  background: transparent !important;
  color: #444;
  
  h1,h2,h3,h4,h5,h6 {
    @include text-shadow(1px 1px 0 #EEE);
    font-size: 130%;
    margin-bottom: 10px;
    
    img {
      vertical-align: baseline;
    }
  }

  ol,ul {
    li {
      @include text-shadow(1px 1px 0 #EEE);
      color: #444;
    }
  }
}