

h1,h2,h3,h4,h5,h6 { 
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
  &.subheader {
    font-weight: 100;
  }
}


p {
  font-weight: 500;
}


.panel {
  padding: 10px;
  margin: 0 0 10px;
  border-top-color: #FAFAFA;
  position: relative;
  // background-color: hsla(0,0%,95%, 0.5);
  // border-color: hsla(0,0%,95%, 0.5);

  h5 {
    font-weight: bold;
    color: hsl(60,0%,70%);
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 3px;
    position: relative;

    .arrow {
      position: absolute;
      right: 0px;
      top: 0px;
      
      &.open {
        border-color: $arrowColor transparent transparent transparent;
        top: 3px;
        right: -3px;
      }
    }
    
  }
  
  &:first-of-type {
    border-top-color: auto;
  }

  &.content {
    margin-top: 10px;
  }


}




.container {
  // margin-top: 45px;
  padding-bottom: 80px;
}

