@import "../components/foundation/scss/foundation.scss";
@import "../components/foundation-icons/foundation_icons_general_enclosed/sass/general_enclosed_foundicons.scss";
@import "../components/foundation-icons/foundation_icons_social/sass/social_foundicons.scss";

@import "compass/css3";
@import "compass/css3/user-interface";

@import "itoggle";
@import "arrows";

@import "overrides";
@import "buttons";
@import "normalize";
@import "main";
@import "zones";
@import "webcams";
@import "triggers";
@import "alerts";

@import "header";
@import "notes";

// Media Query overrides
@import "media";

/**
 * ------------------------------
 */

html {
  background: #aaa;
}

body {
  margin: 0;
  // height: 100%;
  @include user-select(none);
  
  @include background-image(linear-gradient(#eee, #aaa));
}


a.button {
  color: white;
}


.fixed.bottom {
  bottom: 0px !important;
  top: auto;
  
  dd {

    a {
      color: #555;
      background: #CCC;
      padding: 3px 9px;
      font-weight: bold;
    }

    &.active {
      
      &.success {
        a {
          background-color: hsl(93,65%,39%);
        }
      }

      &.alert {
        a {
          background-color: hsl(359,86%,42%);
        }
      }
    }
   
  }

  .nav-bar {
    margin: 0px;
  }
}
