<ul class="breadcrumbs">
    <li><a ng-click="setRoute('/')">Home</a></li>
    <li><span class="current">Alerts</span></li>
</ul>
<h4>Alerts</h4>
<br>
<a class="button success" ng-click="AddAlert()">Add New Alert</a>
<div class="panel" ng-repeat="alert in Alerts">
  {{ alert.Options.type }} {{ alert.Options.alertee }}
  <div class="actions">
    <a class="button tiny inline" ng-click="EditAlert(alert)">Edit</a>
    <a class="button alert tiny inline" ng-click="Delete(alert)">Delete</a>
  </div>
</div>