<ul class="breadcrumbs">
    <li><a ng-click="setRoute('/')">Home</a></li>
    <li><a ng-click="setRoute('/alerts')">Alerts</a></li>
    <li><span class="current">Edit Alert</span></li>
</ul>
<h4>Alert</h4>
<br>
<form name="configureAlert" class="panel">

  <select name="" id="" ng-model="Alert.Options.type" required>
    <option value="">Choose Alert Type</option>
    <option value="sms">SMS</option>
    <option value="call">Phone Call</option>
    <option value="email">Email</option>
  </select>
  <br><br>
  <input type="text" ng-model="Alert.Options.alertee" placeholder="Sent {{ Alert.Options.type }} to">
</form>
<br>
<ul class="button-group radius even two-up">
  <li><a class="button large cancel radius" ng-click="setRoute('/alerts')">Cancel</a></li>
  <li><a class="button large success radius" ng-click="Save()">Save</a></li>
</ul>

<a class="button alert" ng-click="Delete()" ng-show="Trigger.IsValid()">Delete this Zone</a>