<div class="row">
  <div class="twelve zones">
    
    <a class="button success" ng-click="AddZone()" ng-show="ConfigureMode">Add New Zone</a>

    <div class="panel zone" ng-repeat="zone in Zones" ng-controller="ZoneCtrl" >
      <h5>Zone: {{ zone.Options.name }}</h5>
      <!-- <small>{{ zone.id }}</small> -->
      <div class="actions">
        <a class="button tiny" ng-click="EditZone()">Edit</a>
        <!-- <a class="button tiny success" ng-click="AddNewTrigger()">New Trigger</a> -->
        <a class="button tiny alert" ng-click="Delete()">Delete</a>
      </div>
      <div class="triggers">
        <div class="trigger" ng-repeat="trigger in Triggers">
          
        </div>
      </div>
    </div>
  </div>
</div>