
.alerts {
 

  .alert {
    margin-bottom: 10px;
    position: relative;
    opacity: 0.6;
    
    &.active {
      opacity: 1;
    }

    h6 {
      font-size: 12px;
    }

    .actions {
      position: absolute;
      right: 32px;
      top: 6px;
      
    }

    .delete {
      @include border-radius(20em);
      border: 1px solid white;
      background: black;
      font-weight: 800;
      text-align: center;
      color: white;
      position: absolute;
      top: 8px;
      right: 5px;
      line-height: 1.2em;
      width: 1.3em;
      height: 1.3em;

    }
  }
}