
.top-bar {
  margin-bottom: 0px;

  .toggle-edit {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    
    a {
      display: inline-block;
    }
  }  
}

.breadcrumbs {
  a {
    color: hsl(194,65%,48%);
  }
}