.panel {
  padding: 10px;
  margin: 0px;
  border-top-color: #FAFAFA;
  // background-color: hsla(0,0%,95%, 0.5);
  // border-color: hsla(0,0%,95%, 0.5);
  
  &:first-of-type {
    border-top-color: auto;
  }
}

h1,h2,h3,h4,h5,h6 { 
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
  &.subheader {
    font-weight: 100;
  }
}



.container {
  // margin-top: 45px;
  padding-bottom: 80px;
}

