.zones {
  position: relative;


  .utility-actions {
    // margin-bottom: 10px;
    .sub-nav {
      margin: 0;
      padding: 10px 0px;
      
      dd {
        margin-bottom: 0px;
      }
    }
  }

  .zone-listing {
    margin-top: 10px;
    
  }

  .zone {
    position: relative;
    min-height: 48px;
    opacity: 0.6;
    margin-bottom: 10px;
    border-width: 0 0 0 10px;
    border-color: hsl(359,0%,45%);



    .actions {
      position: absolute;
      top: 7px;
      right: 0px;
      width: 130px;
      display: block;
      text-align: right;
      padding-right: 10px;
    }

    .triggers {
      margin-top: 10px;
      
      .trigger {
        text-align: center;
        
      }
    }

    &.armed {
      // color: hsl(0, 0%, 13%);
      opacity: 1;
      border-color: hsl(93,65%,39%);
    }

    &.incomplete {
      opacity: 1;
      background: transparent;
      @include background-image(linear-gradient(hsla(359,0%,55%,0.6), hsla(359,0%,25%,0.6)));
      border-left-color: hsla(194,65%,48%, 0.2);
      
      .help-box {
        background: transparent;
        border: none;
        padding: 0px;
        
        .button {
          
        }
      }
      
      h5 { 
        color: #EEE;
        @include text-shadow(-1px -1px 0px #777);
      }
    }
  }
}



.editZone {
  position: relative;
  
  h4 {
    @include text-shadow(0 0 5px hsl(0,0%,83%));
  }
  
  .webcamBanner {
    position: relative;
    width: 100%;
    min-height: 100px;
    top: -18px;
    margin-bottom: -90px;
    
    img {
      @include transition(all 0.3s);
    }

    .gradient {
      position: absolute;
      width: 100%;
      height: 160px;
      bottom: 0px;
      background: url(/img/zone-webcam-gradient.png) repeat-x;
      
    }

    .play {
      position: absolute;
      top: 0px;
      right: 20px;
      z-index: 10;
      font-size: 50px;
      color: hsla(0,0%,96%, 1);
      @include text-shadow(0 0 12px rgba(0,0,0,0.4));
      
    }
  }

  .extraContent { display: none; }
}