.zones {
  position: relative;

  .zone {
    position: relative;
    min-height: 48px;

    .actions {
      position: absolute;
      top: 7px;
      right: 0px;
      width: 100px;
      display: block;
      text-align: right;
      padding-right: 10px;
    }

    .triggers {
      margin-top: 10px;
      
      .trigger {
        text-align: center;
      }
    }
  }

}