@import "../components/foundation/scss/foundation.scss";

@import "compass/css3";

@import "buttons";
@import "normalize";
@import "main";
@import "zones";
@import "triggers";

@import "header";

// Media Query overrides
@import "media";

/**
 * ------------------------------
 */

html, body {
  margin: 0;
  height: 100%;
  background: hsl(0,0%,85%);
  @include background-image(linear-gradient(#eee, #aaa));
}


h1,h2,h3,h4,h5,h6 { 
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
  &.subheader {
    font-weight: 100;
  }
}

a.button {
  @include transition(none);
  color: white;
}

.container {
  // margin-top: 45px;
  padding-bottom: 80px;
}


.panel {
  padding: 10px;
  margin: 0px;
  border-top-color: #FAFAFA;
  // background-color: hsla(0,0%,95%, 0.5);
  // border-color: hsla(0,0%,95%, 0.5);
  
  &:first-of-type {
    border-top-color: auto;
  }
}

.fixed.bottom {
  bottom: 0px !important;
  top: auto;
  
  dd {

    a {
      color: #555;
      background: #CCC;
      padding: 3px 9px;
      font-weight: bold;
    }

    &.active {
      
      &.success {
        a {
          background-color: hsl(93,65%,39%);
        }
      }

      &.alert {
        a {
          background-color: hsl(359,86%,42%);
        }
      }
    }
   
  }

  .nav-bar {
    margin: 0px;
  }
}